/*
* Kendo UI v2011.3.1129 (http://kendoui.com)
* Copyright 2011 Telerik AD. All rights reserved.
*
* Kendo UI commercial licenses may be obtained at http://kendoui.com/license.
* If you do not own a commercial license, this file shall be governed by the
* GNU General Public License (GPL) version 3. For GPL requirements, please
* review: http://www.gnu.org/copyleft/gpl.html
*/

/* Kendo skin */
/* main colors */
.k-widget {
  background-color: #ffffff;
}
.k-widget,
.k-input,
.k-textbox,
.k-group,
.k-content,
.k-header,
.k-editable-area,
.k-separator,
.k-colorpicker .k-arrow-down,
.k-autocomplete,
.k-dropdown-wrap,
.k-toolbar,
.k-grouping-header,
.k-grid-pager,
.k-group-footer td,
.k-grid-footer,
.k-footer-template td,
.k-state-default,
.k-state-default .k-select,
.k-state-disabled,
.k-panelbar .k-link,
.k-grid-header-wrap,
.k-grid-header,
.k-grid td,
.k-grid-footer-wrap,
.k-grid-pager,
.k-grouping-header,
.k-grouping-header .k-group-indicator,
.k-dropdown-wrap,
.k-autocomplete,
.k-panelbar .k-link,
.k-panelbar .k-group,
.k-panelbar .k-content,
.k-calendar th,
.k-slider-track,
.k-splitbar,
.k-dropzone-active,
.k-upload-files,
.k-tiles,
.k-toolbar,
.k-dropdown-wrap,
.k-tooltip,
.k-progress {
  border-color: #b2dcf4;
}
.k-group,
.k-toolbar,
.k-grouping-header,
.k-grid-pager,
.k-group-footer td,
.k-grid-footer,
.k-footer-template td,
.k-widget .k-status,
.k-grouping-row td,
td.k-group-cell,
.k-calendar th,
.k-dropzone-hovered,
.k-upload-files {
  background-color: #ebf5fc;
}
.k-list-container {
  border-color: #b2dcf4;
  background-color: #ebf5fc;
}
.k-content,
.k-editable-area,
.k-panelbar li.k-item,
.k-tiles {
  background-color: #ffffff;
}
.k-alt, .k-separator {
  background-color: #f7f7f7;
}

.k-widget .k-dropdown-wrap,
.k-widget .k-picker-wrap,
.k-widget .k-numeric-wrap,
.k-autocomplete.k-header,
.k-autocomplete.k-state-focused,
div.k-dropdown-wrap.k-state-active,
.k-dropdown-wrap.k-state-focused,
.k-dropdown-wrap.k-state-focused:hover,
div.k-picker-wrap.k-state-active,
.k-picker-wrap.k-state-focused,
.k-picker-wrap.k-state-focused:hover,
span.k-numeric-wrap.k-state-active,
.k-numeric-wrap.k-state-focused,
.k-numeric-wrap.k-state-focused:hover {
  border-color: #a3d6f4;
  background-color: #ffffff;
}
.k-autocomplete .k-input,
.k-dropdown-wrap .k-input,
.k-autocomplete.k-state-focused .k-input,
.k-dropdown-wrap.k-state-focused .k-input,
.k-picker-wrap.k-state-focused .k-input,
.k-numeric-wrap.k-state-focused .k-input {
  border-color: #c5c5c5;
}
.k-input, .k-textbox {
  background-color: #ffffff;
}
.k-widget,
.k-input,
.k-textbox,
.k-popup,
.k-content {
  color: #000;
}
.k-combobox .k-input,
.k-picker-wrap .k-input,
.k-numeric-wrap .k-input,
.k-autocomplete .k-input {
  color: #000;
}
.k-link:link, .k-link:visited {
  color: #000;
}
.k-header {
  color: #000;
}
.k-header,
.k-grid-header,
.k-toolbar,
.k-dropdown-wrap,
.k-picker-wrap,
.k-grouping-header,
.k-tooltip,
.k-grid-pager,
.k-button,
.k-draghandle,
.k-tile,
.k-autocomplete,
.k-state-hover,
.k-state-selected,
.k-state-focused,
.k-tabstrip-items .k-item {
  background-image:#ebf5fc /*url("textures/highlight.png")*/;
}
.k-header,
.k-grid-header,
.k-toolbar,
.k-grouping-header,
.k-tooltip,
.k-grid-pager,
.k-button,
.k-draghandle {
  background-color: #ebf5fc;
}
/* icons */
.k-icon {
  opacity: .8;
}
.k-icon:hover,
.k-state-hover .k-icon,
.k-state-selected .k-icon,
.k-state-focused .k-icon {
  opacity: 1;
}
.k-icon,
.k-tool-icon,
.k-grouping-dropclue,
.k-drop-hint,
.k-callout,
.k-progress,
.k-progress-status {
  background-image: url('Default/sprite.png');
}
.k-loading {
  background-image: url('Default/loading.gif');
}
.k-loading-image {
  background-image: url('Default/loading-image.gif');
}
.k-loading-color {
  background-color: #ffffff;
}
.k-button {
  color: #000;
}
.k-button,
.k-button.k-state-disabled:hover,
.k-state-disabled .k-button:hover,
.k-draghandle {
  border-color: #c5c5c5;
  background-color: #ebf5fc;
}
.k-button:hover, .k-draghandle:hover {
  border-color: #d6ebf9;
  background-color: #d6ebf9;
}
/* states */
.k-state-active, .k-state-active:hover, .k-active-filter {
  background-color: #ffffff;
  border-color: #77c3ee;
  color: #000;
}
.k-state-selected,
.k-list > .k-state-selected,
.k-list > .k-state-focused,
.k-panelbar .k-state-selected,
.k-button:active,
.k-ghost-splitbar-vertical,
.k-ghost-splitbar-horizontal,
.k-draghandle.k-state-selected:hover {
  color: #ffffff;
  background-color: #77c3ee;
  border-color: #77c3ee;
}
.k-state-selected > .k-link {
  color: #ffffff;
}
.k-state-hover,
.k-state-hover:hover,
.k-splitbar-horizontal-hover:hover,
.k-splitbar-vertical-hover:hover,
.k-list > .k-state-hover,
.k-state-focused,
.k-marquee {
  color: #000;
  background-color: #d6ebf9;
  border-color: #d6ebf9;
}
.k-state-hover > .k-link, .k-other-month.k-state-hover .k-link {
  color: #000;
}
.k-state-focused > .k-link,
.k-autocomplete.k-state-hover,
.k-picker-wrap.k-state-hover,
.k-numeric-wrap.k-state-hover,
.k-dropdown-wrap.k-state-hover {
  background-color: #d6ebf9;
  border-color: #d6ebf9;
}
.k-dropdown .k-state-hover .k-input {
  color: #000;
}
.k-dropdown .k-state-focused .k-input {
  color: #000;
}
.k-state-error {
  border-color: #e20000;
  background-color: #ff5252;
  color: #ffffff;
}
.k-state-disabled {
  filter: alpha(opacity=70);
  opacity: .7;
}
.k-state-disabled,
.k-state-disabled .k-link,
.k-state-disabled .k-button,
.k-other-month .k-link,
.k-dropzone em,
.k-tile-empty strong,
.k-slider .k-draghandle {
  color: #9f9e9e;
}
/* Slider */
.k-slider-track {
  background-color: #ebf5fc;
}
.k-slider-selection {
  background-color: #77c3ee;
}
.k-slider-horizontal .k-tick {
  background-image: url('Default/slider-h.gif');
}
.k-slider-vertical .k-tick {
  background-image: url('Default/slider-v.gif');
}
/* Tooltip */
.k-tooltip {
  border-color: #d6ebf9;
  background-color: #ffffff;
  color: #000;
}
.k-tooltip-validation {
  border-color: #ffe79e;
  background-color: #fff4c9;
  color: #635145;
}
/* Splitter */
.k-splitbar {
  background-color: #ebf5fc;
}
.k-restricted-size-vertical, .k-restricted-size-horizontal {
  background-color: #ffffff;
}
/* Upload */
.k-progress-status {
  border-color: #d6ebf9 transparent;
}
/* ImageBrowser */
.k-tile {
  border-color: #ffffff;
}
.k-tiles li.k-state-hover {
  border-color: #d6ebf9;
}
.k-tiles li.k-state-selected {
  border-color: #77c3ee;
}
.k-tile .k-folder {
  background-image: url('Default/imagebrowser.png');
}
/* Shadows */
.k-popup,
.k-menu .k-group,
.k-grid .k-filter-options,
.k-time-popup,
.k-datepicker-calendar,
.k-dropdown-wrap.k-state-active,
.k-picker-wrap.k-state-active,
.k-imagebrowser .k-image {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
}
.k-window {
  border-color: rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.3);
}
.k-autocomplete .k-input, .k-combobox .k-input, .k-picker-wrap .k-input {
  box-shadow: inset 0 0 1px 1px #EEE;
  -webkit-box-shadow: inset 0 0 1px 1px #EEE;
}
/* Border radius */
.k-button,
.k-textbox,
.k-drag-clue,
.k-touch-scrollbar,
.k-window,
.k-window-action,
.k-pager .k-state-active,
.k-pager .k-state-hover,
.k-grid .k-filter-options,
.k-grouping-header .k-group-indicator,
.k-autocomplete,
.k-dropdown-wrap,
.k-picker-wrap,
.k-numeric-wrap,
.k-list-container,
.k-calendar-container,
.k-calendar td,
.k-calendar .k-link,
.k-treeview .k-state-hover,
.k-treeview .k-state-selected,
.k-editor-button .k-state-hover,
.k-editor-button .k-state-active,
.k-tooltip,
.k-tile,
.k-slider-track,
.k-slider-selection {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.k-calendar-container.k-state-border-up,
.k-list-container.k-state-border-up,
.k-autocomplete.k-state-border-up,
.k-dropdown-wrap.k-state-border-up,
.k-picker-wrap.k-state-border-up,
.k-numeric-wrap.k-state-border-up,
.k-filter-menu {
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}
.k-window-titlebar,
.k-tabstrip-items .k-item,
.k-panelbar .k-tabstrip-items .k-item,
.k-tabstrip-items .k-link,
.k-calendar-container.k-state-border-down,
.k-list-container.k-state-border-down,
.k-autocomplete.k-state-border-down,
.k-dropdown-wrap.k-state-border-down,
.k-picker-wrap.k-state-border-down,
.k-numeric-wrap.k-state-border-down {
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
.k-dropdown-wrap .k-select,
.k-picker-wrap .k-select,
.k-numeric-wrap .k-select,
.k-datetimepicker .k-select + .k-select,
.k-animation-container .k-calendar-container,
.k-list-container.k-state-border-right {
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
.k-autocomplete .k-input,
.k-dropdown-wrap .k-input,
.k-picker-wrap .k-input,
.k-numeric-wrap .k-input,
.k-numeric-wrap .k-link,
.k-colorpicker .k-selected-color,
.k-progress,
.k-progress-status {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.k-list .k-state-hover,
.k-list .k-state-focused,
.k-list .k-state-selected,
.k-dropzone,
.k-upload-files {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.k-slider .k-button, .k-grid .k-slider .k-button {
  -moz-border-radius: 13px;
  -webkit-border-radius: 13px;
  border-radius: 13px;
}
.k-draghandle {
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}
