#{extends 'layouts/main.html' /}
#{set title:'Publisher Report' /}
<div id="page" class="cwrapper">
  <div class="heading">RTB Management Console</div>
    <div class="info-alert">
      <a class="close" data-dismiss="alert">Ã—</a>
        Welcome to the RTM Management Console. Please select from the options in the dropdown, to view the corresponding report.
    </div>
    
    <div class="pagelet">
          <!-- Different reports will be rendered here -->
<div id="subhead"><h2>Bids won vs Lost</h2></div>
        
        <div class="btn-group">
      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" style="font-size:12px;">
        Select Report
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="#">Campaign Configuration</a></li>
        <li><a href="#">Campaign Response</a></li>
        <li><a href="#">Response Time</a></li>
        <li><a href="#">Bids won vs lost</a></li>
      </ul>
    </div>
    <div class="clear"></div>           
           
            <div class="row_heighlight">
               <div class="span12">
                  <strong>Start time: </strong>
                  <select id="start_time" style="width: 10em;">
                    <option>8:00 AM</option>
                    <option>8:30 AM</option>
                    <option>9:00 AM</option>
                    <option>9:30 AM</option>
                  </select>
                  &nbsp; &nbsp; &nbsp; &nbsp;
                  <strong>End time: </strong>
                  <select id="end_time" style="width: 10em;">
                    <option>8:00 AM</option>
                    <option>8:30 AM</option>
                    <option>9:00 AM</option>
                    <option>9:30 AM</option>
                  </select>
                  &nbsp; &nbsp; &nbsp; &nbsp;
                  <strong>Show: </strong> 
                  <select id="chart_type" style="width: 10em;">
                    <option>Bids</option>
                    <option>eCPM</option>
                  </select>
                  &nbsp; &nbsp; &nbsp; &nbsp;
                  <select id="chart_param" style="width: 10em;">
                    <option>Vendor1</option>
                    <option>Vendor2</option>
                    <option>Vendor3</option>
                  </select>
                  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                  <button class="btn" style="width:60px; margin-bottom:4px;">Go</button>
                  <!--input type="button" id="submit" value="Go" style="width:50px;"/-->
               </div>
               <div class="clear"></div>
             </div>
         <div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
    </div>
  </div>
</div>
<div id="grid"></div>

<script type="text/javascript">
$(function () {
    var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container',
                type: 'spline'
            },
            title: {
                text: 'Bids won vs lost statistics'
            },
            xAxis: {
              title: {
                    text: 'Time'
                },
                type: 'datetime'
            },
            yAxis: {
                title: {
                    text: 'Bids (in thousands)'
                },
                min: 1,
                minorGridLineWidth: 0,
                gridLineWidth: 0,
                alternateGridColor: null,
                plotBands: [{ 
                    from: 0.0,
                    to: 1.5
                }]
            },
            tooltip: {
                formatter: function() {
                        return ''+
                        Highcharts.dateFormat('%e. %b %Y, %H:00', this.x) +': '+ this.y ;
                }
            },
            plotOptions: {
                spline: {
                    lineWidth: 3,
                    states: {
                        hover: {
                            lineWidth: 5
                        }
                    },
                    marker: {
                        enabled: true,
                        states: {
                            hover: {
                                enabled: true,
                                symbol: 'circle',
                                radius: 6,
                                lineWidth: 1
                            }
                        }
                    },
                    pointInterval: 1800000, // one hour
                    pointStart: Date.UTC(2012, 3, 6, 0, 0, 0)
                }
            },
            series: [{
                name: 'Total',
                data: [2.3, 3.1, 6.3, 7.2, 2.4, 8.7, 5.5, 2.1, 8.6, 7.4, 6.9, 7.1,
                       7.9, 7.9, 7.5, 6.7, 7.7, 7.7, 7.4, 7.0, 7.1, 5.8, 5.9, 7.4,
                       8.2, 9.5, 9.4, 8.1, 10.9, 10.4, 10.9, 12.4, 12.1, 9.5, 7.5,
                       7.1, 4.5, 6.1, 7.8, 5.4, 2.1, 1.9, 4.8, 2.1, 6.3, 4.4, 4.2,
                       3.0, 3.0]
            /*
            	
            */
    
            }, {
                name: 'Won',
                data: [4.3, 5.1, 4.3, 5.2, 5.4, 4.7, 3.5, 4.1, 5.6, 7.4, 6.9, 7.1,
                    4.9, 5.9, 3.5, 3.7, 4.7, 5.7, 3.4, 5.0, 2.1, 7.8, 2.9, 5.4,
                    9.2, 5.5, 4.4, 5.1, 4.9, 6.4, 7.9, 8.4, 12.1, 9.5, 7.5,
                    7.1, 7.5, 8.1, 6.8, 3.4, 2.1, 1.9, 2.8, 2.9, 1.3, 4.4, 4.2,
                    3.0, 3.0]
    
            },{
                name: 'Lost',
                data: [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.1, 0.0, 0.3, 0.0,
                    0.0, 0.4, 0.0, 0.1, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
                    0.0, 0.6, 1.2, 1.7, 0.7, 2.9, 4.1, 2.6, 3.7, 3.9, 1.7, 2.3,
                    3.0, 3.3, 4.8, 5.0, 4.8, 5.0, 3.2, 2.0, 0.9, 0.4, 0.3, 0.5, 0.4]
            }]
            ,
            navigation: {
                menuItemStyle: {
                    fontSize: '10px'
                }
            }
        });
    });
    
});
</script>
 <script>
                $(document).ready(function() {

                  var gridData = [{
                          TotalBids: "10",
                          Won: "5",
                          Lost: "2",
                          eCPM: "1",
                          Hour: "23:20",
                      },
                      {
                          TotalBids: "20",
                          Won: "10",
                          Lost: "10",
                          eCPM: "2",
                          Hour: "23:21",
                      },
                      {
                          TotalBids: "10",
                          Won: "2",
                          Lost: "5",
                          eCPM: "1",
                          Hour: "23:22",
                      },
                      {
                          TotalBids: "20",
                          Won: "5",
                          Lost: "5",
                          eCPM: "2",
                          Hour: "23:23",
                      },
                      {
                          TotalBids: "50",
                          Won: "30",
                          Lost: "12",
                          eCPM: "2",
                          Hour: "23:24",
                      },
                      {
                          TotalBids: "30",
                          Won: "10",
                          Lost: "20",
                          eCPM: "3",
                          Hour: "23:25",
			},
                      {
                          TotalBids: "5",
                          Won: "3",
                          Lost: "2",
                          eCPM: "1",
                          Hour: "23:26",
                      },
                      {
                          TotalBids: "30",
                          Won: "25",
                          Lost: "3",
                          eCPM: "1",
                          Hour: "23:27",
                      }
                      ];

                    $("#grid").kendoGrid({
                        dataSource: {
                            data: gridData,
                            schema: {
                                model: {
                                    fields: {
                                        TotalBids: { type: "number" },
                                        Won: { type: "number" },
                                        Lost: { type: "number" },
                                        eCPM: { type: "number" },
                                        Hour: {  type: "number" }
                                    }
                                }
                            },
                           pageSize: 0
                        },
                        height: gridnewheight(),
                        
                        sortable: "true",
                        filterable: "true",
                        pageable: "true",
                        columns: [
                            {
                                field: "TotalBids",
                                title: "Total No of Bids"
                            },
                            {
                                field: "Won",
                                title: "Won"
                            },
                            {
                                field: "Lost",
				title: "Lost"
                            },
                            {
                                field: "eCPM",
				title: "eCPM (in $)"
                            },
                            {
                                field: "Hour",
                                title: "Time",
                            }
                        ]
                    });
                });

               var gridnewheight = function() {
                    return 7*43;
                }
                
</script>