    body {  
    padding-top: 60px;  
    padding-bottom: 40px;  
    }  
    .nav li {  
    padding-top: 5px;  
    }  
    .leaderboard {  
    padding: 60px;  
    margin-bottom: 30px;  
    /*background-image: url('/public/images/gridbg.gif');  */
    background-repeat:repeat;  
    -webkit-border-radius: 6px;  
    -moz-border-radius: 6px;  
    border-radius: 6px;  
    }  
    .leaderboard h1 {  
    font-size: 40px;  
    margin-bottom: 5px;  
    line-height: 1;  
    letter-spacing: -1px;  
    color:#FF6600;  
    }  
    .leaderboard p {  
    font-size: 18px;  
    font-weight: 200;  
    line-height: 27px;  
    }  