#{extends 'layouts/main.html' /}
#{set title:'Socket Index' /}

<button id="closeSocket" >Close socket </button>


<div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>

#{coffee.inline}
jQuery ->
	window.chartOptions = {
		chart:{
			renderTo: 'container'
			type: 'spline'
		}
		title:{
			text: 'Bids won vs lost statistics'
		}
		xAxis: {
			title: {
				text: 'Time'
			}
			type: 'datetime'
		}
		yAxis: {
			 title: {
			 	text: 'Bids (in thousands)'
			 }
			 min: 1
			 minorGridLineWidth: 0
			 gridLineWidth: 0
			 alternateGridColor: null
			 plotBands: [{
			 	from: 0.0
			 	to: 1.5
			 }]
		}
		tooltip: {
			formatter: () ->
				Highcharts.dateFormat('%e. %b %Y, %H:00', @.x) + (': '+ @.y) 
		}
		plotOptions: {
			spline: {
				states: {
					hover: {
						lineWidth: 5
					}
				}
				marker: {
					enabled: true,
					states: {
						hover: {
							enabled: true
							symbol: 'circle'
							radius: 6
							lineWidth: 1
						}
					}
				}
				pointInterval: 1800000 # 1 hr
				pointStart: Date.UTC(2012, 3, 6, 0, 0, 0)
			}
		}
		navigation: {
			menuItemStyle: {
				fontSize: '10px'
			}
		}
	}
	window.chartOptions.series=[
		{
			name:"Total"
			data:${ChartData.total}
		}
		{
			name:"Won"
			data:${ChartData.won}
		}
		{
			name:"Lost"
			data:${ChartData.lost}
		}
	]
	window.chart = new Highcharts.Chart(chartOptions)
#{/}

#{coffee.inline}
jQuery ->
	%{
		if (random){ 
	}%
window.socket = new WebSocket "ws://localhost:9002/randomwebsocket"
	%{
		} else {
	}%
window.socket = new WebSocket "ws://localhost:9002/websocket"
	%{
		}
	}%
	
	window.socket.onopen = () ->
		console.log "Socket is open"
	
	window.socket.onmessage = (msg) ->
		message = JSON.parse msg.data
		console.log message
		window.chartOptions.series = [
			{	
				name:"Total"
				data: message.total
			}
			{	
				name:"Won"
				data: message.won
			}
			{	
				name:"Lost"
				data: message.lost
			}
		]
		window.chart = new Highcharts.Chart(chartOptions)
	
	window.socket.onclose = () ->
		console.log "socket is closed"
	
	$("#closeSocket").click () ->
		window.socket.close()
	
#{/}